@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Coustard:wght@400;900&family=Neuton:wght@400;700&family=Roboto+Slab:wght@500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
	background: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3.2rem;
}
h2{
	font-size: 2.7rem;
}
h3{
	font-size: 2.2rem;
}
h4 {
	font-size: 1.7rem;
}


#banner {
	background-image: url("../img/disinfecting.jpeg");
	background-size: cover;
	height: 100vh;
}

.banner-text {
	height: 100vh;
	display: flex;
	align-items: center;
	padding: 2.5em;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.3rem;
	align-items: center;
	text-align: end;
	clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

	#cov {
		font-weight: bold;
	}

