@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	background: #e6e6e6;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3.2rem;
}
h2{
	font-size: 2.7rem;
}
h3{
	font-size: 2.2rem;
}
h4 {
	font-size: 1.7rem;
}

.nav {
	background-color: #4065AD;
	padding: 1em 2em;
	position: fixed;
	z-index: 3;
	width: 100%;
}

.nav a {
	color: #e6e6e6 !important;
}

.navbar-toggler {
	color: #e6e6e6 !important;
	border-color: #e6e6e6!important;
}

.nav-item{
	transition: all 0.2s ease-in;
	border: solid 1px transparent;
	margin-left: 2em;
}

.nav-item:hover{
	border-bottom: solid 1px #e6e6e6;
}
.nav-item.active{
	border-bottom: solid 1px #e6e6e6;
	border-right: solid 2px #e6e6e6;
}


#banner {
	background-image: url("../img/disinfecting.jpeg");
	background-size: cover;
	height: 100vh;
}

.btn-primary {
	background-color: #4065AD;
	border-color: #4065AD;
	color: #e6e6e6;
}

.banner-text {
	height: 100vh;
	display: flex;
	padding: 2.5em;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 1.3rem;
	align-items: center;
	text-align: end;
	clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

	.bold {
		font-weight: bold;
	}

#tools .tool-text, 
#tools .tool-img,
#contact .contact-address,
.modal-text-middle{
	display: flex;
	align-items: center;
}

.modal-text-middle{
	height: 100%;
}


#sectioner {
	background-image: url("../img/job.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #e6e6e6;
	padding: 2em 4em;
	/*position: relative;*/
}

/*#sectioner > #form-section {
	height: 20em;
}*/

.dropdown-menu {
	background-color: #4065AD !important;
}

.dropdown-item:hover{
	background-color: #557ecd;
}


.forms {
	background: #ffffff;
	border-radius: 1.5em;
	width: 100%;
	padding: 2em;
	color: #010101;
}

#clients {
	padding-bottom: 2em;
	height: 50vh;
	display: flex;
	align-items: center;
}

.slider-client div img {
	filter: grayscale(1);
	transition: all 0.2s ease-in;
}

.slider-client div img:hover {
	filter: grayscale(0);
}

#contact {
	color: #e6e6e6;
	padding: 2em 0;
	background-image: url("../img/contact.jpeg");
	background-size: cover;
	background-attachment: fixed;
}

#contact .contact-address div ul {
	padding: 0;
	list-style: none;
}

#contact .contact-address div ul li {
	margin: 1em 0;
}

#contact .contact-form {
	padding-bottom: 2em;
}

#contact .contact-map {
	padding: 0;
}


#footer {
	background: #4065AD;
	padding: 2em;
	color: #e6e6e6;
}

#footer div div:nth-child(1) ul {
	padding: 0;
	list-style: none;
	display: inline-flex;
}
#footer div div:nth-child(1) ul li {
	margin: 0 0.5em;
	font-size: 2rem;
}
#footer div div:nth-child(1) ul li a{
	text-decoration: none;
	color: #e6e6e6;
	opacity: 0.5;
	transition: all 0.2s ease-in;
}

#footer div div:nth-child(1) ul li a:hover{
	opacity: 1;
}

.i-close-modal {
	position: absolute;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-radius: 50%;
	right: -10px;
	top: -10px;
}